<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <% if flash[:notice] = "Successfully created..."%>
    <% end %>
    <%= yield %>
  </body>
</html>
